---
layout: default
permalink: /calculators/
---

<style>
    .heading {
        padding: 50px;
        background-color: lightgrey;
    }

    .calculators-container {
        padding: 50px;
    }

    .calculators {
        list-style: circle;
        list-style-position: inside;
        display: inline;
    }

    .calculator {
        margin-bottom: 5px;
    }

</style> 

<div>
    <div class="heading">
        <h1>A List of All Calculators</h1>
    </div>

    <div class="calculators-container">
        <ul class="calculators">
            {% for post in site.posts %}
                {% if post.type == 'calculator' %}
                    <li class="calculator"><a href="{{site.baseurl}}{{post.permalink}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>