---
layout: default
permalink: /tables/
---

<style>
    .heading {
        padding: 50px;
        background-color: lightgrey;
    }

    .tables-container {
        padding: 50px;
    }

    .tables {
        list-style: circle;
        list-style-position: inside;
        display: inline;
    }

    .table {
        margin-bottom: 5px;
    }

</style> 

<div>
    <div class="heading">
        <h1>A List of All Tables</h1>
    </div>

    <div class="tables-container">
        <ul class="tables">
            {% for post in site.posts %}
                {% if post.type == 'table' %}
                    <li class="table"><a href="{{site.baseurl}}{{post.permalink}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>