<style>
    .footer{
      background: rgb(169,32,219);
      background: linear-gradient(22deg, rgba(169,32,219,1) 35%, rgba(96,160,252,1) 100%);
      display: flex;
      justify-content: space-between;
      padding: 0px 20px 0px 20px;
      flex-wrap: wrap;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  
    .title {
      display: flex;
      padding: 5px;
      color: white;
    }
</style>
  
<nav class="footer">
    <h2 class="title">A Community Guide Page</h2>
</nav>