// main.scss
html {
    height: 100%;
}

body {
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: radial-gradient(#cbcbcb 10%, rgb(255, 255, 255) 50%);
    border-radius: 50%;
    min-height: 100%;
    position: relative;
}

a{
    text-decoration: none;
}

