<!--default.html-->
<style>
    .wrapper {
        min-height: 81.5vh;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | prepend: site.baseurl }}">
</head>
<body>
	{% include navbar.html %}
    <div class="wrapper">
        {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>