---
layout: default
---
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<style>
	.content-container {
		padding: 44px;
	}

	.post-heading {
		background-color: lightgrey;
		padding: 44px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.post-image {
		height: 150px;
		border-radius: 15px;
		/* margin: auto; */
	}

	.post-info {
		margin: auto;
		margin-left: 50px;
	}

	ul {
		display: block;
		list-style-type: disc;
	}

	tr:nth-child(even) {
  		background-color: rgba(169,32,219,0.3);
	}
</style>

<div>
	<div class="post-heading">
		<img src="{{site.baseurl}}{{page.image}}" class="post-image">
		<div class="post-info">
			<h1>{{page.title}}</h1>
			<p>{{page.description}}</p>
			<p>{{page.author}}: {{ page.date | date: "%b %d, %Y" }}</p>
		</div>
	</div>

	<div class="content-container">
		{{ content }}
	</div>
</div>
